<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cyf.es.search.dao.TMInfoMapper" >
  <resultMap id="BaseResultMap" type="cyf.es.search.domain.TMInfo" >
   <!-- <id column="t_tm_detail_3_id" property="id" jdbcType="INTEGER" />
    <result column="t_tm_detail_3_tm_reg_nbr" property="tmRegNbr" jdbcType="VARCHAR" />
    <result column="t_tm_detail_3_tm_cn" property="tmCn" jdbcType="VARCHAR" />
    <result column="t_tm_detail_3_tm_applicant" property="tmApplicant" jdbcType="VARCHAR" />
    <result column="t_tm_detail_3_tm_class" property="tmClass" jdbcType="INTEGER" />
    <result column="t_tm_detail_3_tmdetail" property="tmdetail" jdbcType="LONGVARCHAR" />
    <result column="t_tm_detail_3_tm_en" property="tmEn" jdbcType="VARCHAR" />-->

    <id column="t_tm_detail_id" property="id" jdbcType="INTEGER" />
    <result column="t_tm_detail_tm_reg_nbr" property="tmRegNbr" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_type" property="tmType" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_cn" property="tmCn" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_en" property="tmEn" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_wd" property="tmWd" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_digit" property="tmDigit" jdbcType="VARCHAR" />
    <result column="t_tm_detail_trial_period" property="trialPeriod" jdbcType="VARCHAR" />
    <result column="t_tm_detail_reg_period" property="regPeriod" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_applicant" property="tmApplicant" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_agent" property="tmAgent" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_area" property="tmArea" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_desc" property="tmDesc" jdbcType="VARCHAR" />
    <result column="t_tm_detail_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="t_tm_detail_expiry_date" property="expiryDate" jdbcType="DATE"/>
    <result column="t_tm_detail_reg_date" property="regDate" jdbcType="DATE" />
    <result column="t_tm_detail_tm_address" property="tmAddress" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_class" property="tmClass" jdbcType="INTEGER" />
    <result column="t_tm_detail_app_date" property="appDate" jdbcType="VARCHAR" />
    <result column="t_tm_detail_inter_reg_date" property="interRegDate" jdbcType="VARCHAR" />
    <result column="t_tm_detail_trial_date" property="trialDate" jdbcType="VARCHAR" />
    <result column="t_tm_detail_is_total" property="isTotal" jdbcType="VARCHAR" />
    <result column="t_tm_detail_grace_begin_date" property="graceBeginDate" jdbcType="DATE" />
    <result column="t_tm_detail_grace_end_date" property="graceEndDate" jdbcType="DATE" />
    <result column="t_tm_detail_renew_begin_date" property="renewBeginDate" jdbcType="DATE" />
    <result column="t_tm_detail_renew_end_date" property="renewEndDate" jdbcType="DATE" />
    <result column="t_tm_detail_ggDate" property="ggdate" jdbcType="DATE" />
    <result column="t_tm_detail_tm_applicant_en" property="tmApplicantEn" jdbcType="VARCHAR" />
    <result column="t_tm_detail_markName" property="markname" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_address_en" property="tmAddressEn" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_ty" property="tmTy" jdbcType="VARCHAR" />
    <result column="t_tm_detail_tm_dy" property="tmDy" jdbcType="VARCHAR" />


  </resultMap>


  <resultMap id="ResultMapWithBLOBs" type="cyf.es.search.domain.TMInfo" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <result column="t_tm_detail_tm_similar_group" property="tmSimilarGroup" jdbcType="LONGVARCHAR" />
    <result column="t_tm_detail_tmdetail" property="tmdetail" jdbcType="LONGVARCHAR" />
    <result column="t_tm_detail_status" property="status" jdbcType="LONGVARCHAR" />
  </resultMap>
 <!-- <sql id="Base_Column_List" >
    &lt;!&ndash;
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    &ndash;&gt;
    t_tm_detail_3.id as t_tm_detail_3_id,
    t_tm_detail_3.tm_reg_nbr as t_tm_detail_3_tm_reg_nbr,
   t_tm_detail_3.tm_cn as t_tm_detail_3_tm_cn,
    t_tm_detail_3.tm_applicant as t_tm_detail_3_tm_applicant,
    t_tm_detail_3.tm_class as t_tm_detail_3_tm_class,
    t_tm_detail_3.tmdetail as t_tm_detail_3_tmdetail,
    t_tm_detail_3.tm_en as t_tm_detail_3_tm_en
  </sql>-->





  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    t_tm_detail.id as t_tm_detail_id,
    t_tm_detail.tm_reg_nbr as t_tm_detail_tm_reg_nbr,
    t_tm_detail.tm_type as t_tm_detail_tm_type, t_tm_detail.tm_cn as t_tm_detail_tm_cn,
    t_tm_detail.tm_en as t_tm_detail_tm_en, t_tm_detail.tm_wd as t_tm_detail_tm_wd, t_tm_detail.tm_digit as t_tm_detail_tm_digit,
    t_tm_detail.trial_period as t_tm_detail_trial_period, t_tm_detail.reg_period as t_tm_detail_reg_period,
    t_tm_detail.tm_applicant as t_tm_detail_tm_applicant, t_tm_detail.tm_agent as t_tm_detail_tm_agent,
    t_tm_detail.tm_area as t_tm_detail_tm_area, t_tm_detail.tm_desc as t_tm_detail_tm_desc,
    t_tm_detail.create_time as t_tm_detail_create_time, t_tm_detail.expiry_date as t_tm_detail_expiry_date,
    t_tm_detail.reg_date as t_tm_detail_reg_date, t_tm_detail.tm_address as t_tm_detail_tm_address,
    t_tm_detail.tm_class as t_tm_detail_tm_class, t_tm_detail.app_date as t_tm_detail_app_date,
    t_tm_detail.inter_reg_date as t_tm_detail_inter_reg_date, t_tm_detail.trial_date as t_tm_detail_trial_date,
    t_tm_detail.is_total as t_tm_detail_is_total, t_tm_detail.grace_begin_date as t_tm_detail_grace_begin_date,
    t_tm_detail.grace_end_date as t_tm_detail_grace_end_date, t_tm_detail.renew_begin_date as t_tm_detail_renew_begin_date,
    t_tm_detail.renew_end_date as t_tm_detail_renew_end_date, t_tm_detail.ggDate as t_tm_detail_ggDate,
    t_tm_detail.tm_applicant_en as t_tm_detail_tm_applicant_en, t_tm_detail.markName as t_tm_detail_markName,
    t_tm_detail.tm_address_en as t_tm_detail_tm_address_en,
    t_tm_detail.tm_ty as t_tm_detail_tm_ty,
    t_tm_detail.tm_dy as t_tm_detail_tm_dy
  </sql>

  <sql id="Blob_Column_List_ES" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    t_tm_detail.tm_similar_group as t_tm_detail_tm_similar_group, t_tm_detail.tmdetail as t_tm_detail_tmdetail,
    t_tm_detail.status as t_tm_detail_status
  </sql>


  <select id="selectMaxId" resultType="java.lang.Integer">
    select max(id)
    from t_tm_detail t_tm_detail
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    select count(1)
    from t_tm_detail_3 t_tm_detail_3
  </select>

<!--
  <select id="selectByIDRange" resultMap="BaseResultMap" parameterType="cyf.es.search.domain.TMInfo" >
    select
    <include refid="Base_Column_List" />
    from t_tm_detail_3 t_tm_detail_3
    where
    t_tm_detail_3.id>=#{id,jdbcType=INTEGER} and t_tm_detail_3.id &lt; (#{id,jdbcType=INTEGER}+#{pageCnt})
  </select>-->

  <select id="selectByIDRange" resultMap="ResultMapWithBLOBs" parameterType="cyf.es.search.domain.TMInfo" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List_ES" />
    from t_tm_detail t_tm_detail
    where
    t_tm_detail.id>=#{id,jdbcType=INTEGER} and t_tm_detail.id &lt; (#{id,jdbcType=INTEGER}+#{pageCnt})
  </select>






</mapper>